# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
pip-wheel-metadata/
wheels/

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
.pytest_cache/
tempCodeRunnerFile.py

# Scrapy stuff
.scrapy

# Sphinx documentation
docs/_build/

# PyCharm
.idea/

# VS Code
.vscode/

# Virtualenv
venv/
ENV/
env/
.venv/
env.bak/
venv.bak/

# Rope
.ropeproject

# mypy
.mypy_cache/

# dotenv
.env
.env.*
*.env

# Temp Files
.mimocode

# Scripts
gerar_docs.py

# Annotations
metas.md
annotations.md

# Logs
*.log

# coverage reports
coverage.xml


# Compiled Python packages
*.pyc

# End of .gitignore
